@using System.Drawing
@using Kendo.Mvc.UI
@model IEnumerable<HttpPostedFileBase>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    @foreach (var file in Model)
{
    var image = Image.FromStream(file.InputStream, true, true);
    <tr>
        <td>Image</td>
        <td><img src="@Model."/></td>
    </tr>

            }

        </table>