################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RainIt/Common.DependencyInjection/bin
/RainIt/Common.DependencyInjection/obj
/RainIt/Common.Repository/bin
/RainIt/Common.Repository/obj
/RainIt/Common.Util/bin
/RainIt/Common.Util/obj

/RainIt/GPIO/GPIO.Business/bin
/RainIt/GPIO/GPIO.Business/obj
/RainIt/GPIO/GPIO.Business.Interfaces/bin
/RainIt/GPIO/GPIO.Business.Interfaces/obj
/RainIt/GPIO/GPIO.Business.Tests/bin
/RainIt/GPIO/GPIO.Business.Tests/obj
/RainIt/GPIO/GPIO.Domain/bin
/RainIt/GPIO/GPIO.Domain/obj

/RainIt/ImageProcessing/ImageProcessing.Business/bin
/RainIt/ImageProcessing/ImageProcessing.Business/obj
/RainIt/ImageProcessing/ImageProcessing.Business.Interfaces/bin
/RainIt/ImageProcessing/ImageProcessing.Business.Interfaces/obj
/RainIt/ImageProcessing/ImageProcessing.Bussiness.Tests/bin
/RainIt/ImageProcessing/ImageProcessing.Bussiness.Tests/obj
/RainIt/ImageProcessing/ImageProcessing.Domain/bin
/RainIt/ImageProcessing/ImageProcessing.Domain/obj

/RainIt/packages

/RainIt/RainIt.Business/bin
/RainIt/RainIt.Business/obj
/RainIt/RainIt.Interfaces/bin
/RainIt/RainIt.Interfaces/obj
/RainIt/RainIt.Business.Tests/bin
/RainIt/RainIt.Business.Tests/obj
/RainIt/RainIt.Repository/bin
/RainIt/RainIt.Repository/obj
/RainIt/RainIt.Domain/bin
/RainIt/RainIt.Domain/obj
/RainIt/RainIt.Resources/bin
/RainIt/RainIt.Resources/obj

/RainIt/TestResults

/RainIt/Web.RainIt/bin
/RainIt/Web.RainIt/obj
/RainIt/Web.Services/bin
/RainIt/Web.Services/obj
