@model List<RainIt.Domain.DTO.DeviceDTO>
<select id="device-multiselect" multiple="multiple">
    @foreach (var device in Model)
    {
        <option value="@device.Identifier">@device.Identifier</option>
    }
</select>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript">
    (function() {
        this.DeviceMultiselectProperties = this.DeviceMultiselectProperties || {};
        var multiselect = (function() {
            var properties = {};
            properties.Initialize = function () {
                $('#device-multiselect').multiselect({ buttonWidth: '150px', disableIfEmpty: true });

            }
            properties.SelectDevices = function (deviceIds) {
                $.each(deviceIds, function() {
                    var deviceId = this;
                    $('#device-multiselect option[value="' + deviceId + '"').attr("selected", 1);
                });
                $('#device-multiselect').multiselect("refresh");

            }
            properties.GetSelectedDevices = function () {
                var selectedDevices = [];
                $('#device-multiselect option:selected').each(function () {
                    var selectedOption = this;
                    selectedDevices.push(selectedOption.text);
                });
                return selectedDevices;
            }
            return properties;
        }());

        DeviceMultiselectProperties.SelectDevices = function (deviceIds) {
            return multiselect.SelectDevices(deviceIds);
        }
        DeviceMultiselectProperties.GetSelectedDevices = function () {
            return multiselect.GetSelectedDevices();
        }

        DeviceMultiselectProperties.SetupPage = function () {
            multiselect.Initialize();
        }
    }());
    $(document).ready(function() {
        DeviceMultiselectProperties.SetupPage();
    });
</script>