@using Newtonsoft.Json
@model List<RainIt.Domain.DTO.DeviceDTO>
@{
    ViewBag.Title = "All Devices";
}
<div class="container">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Device Name
                    </th>
                    <th>
                        Active Routines
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Model)
                {
                    <tr>
                        <td>
                            @device.Name
                        </td>
                        <td>
                            
                            @foreach (var routine in device.RoutineDTOs)
                            {
                                <div class="col-md-12" style="width: 600px;">
                                    @Html.Action("View", "Routine", new { area = "Configuration", routineId = routine.RoutineId })
                                    <br />
                                </div>
                            }
                            &nbsp;
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    @using (Html.BeginForm("Add", "Device", new {area = "Configuration"}, FormMethod.Get))
    {
        <button type="submit" id="addDevice" name="addDeviceButton">Add Device</button>
    }
</div>