@using Newtonsoft.Json
@model List<RainIt.Domain.DTO.DeviceDTO>
@{
    ViewBag.Title = "All Devices";
}
<style>
    .tooltip, .tooltip-inner {
        width: 610px;
        max-width: 610px;
    }
</style>
<div class="container">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    Device Name
                </th>
                <th>
                    Active Routines
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var device in Model)
            {
                <tr>
                    <td>
                        @device.Name
                    </td>
                    <td>
                        @foreach (var routine in device.RoutineDTOs)
                        {
                            @Html.ActionLink(routine.Name, "Edit", "Routine", new {area = "Configuration", routineId = routine.RoutineId}, new {data_toggle = "tooltip", data_html="true", data_placement="bottom", data_for_routine=routine.RoutineId})
                            <div class="tooltip-html" data-tooltip-for=@routine.RoutineId>
                                @Html.Action("View", "Routine", new { area = "Configuration", routineId = routine.RoutineId })
                            </div>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm("Add", "Device", new {area = "Configuration"}, FormMethod.Get))
    {
        <button type="submit" id="addDevice" name="addDeviceButton" class="btn btn-primary">Add Device</button>
    }
</div>
<script type="text/javascript">
    (function() {
        this.DeviceIndexProperties = this.DeviceIndexProperties || {};
        var tooltip = (function() {
            var properties = {};
            function addText() {
                var content = $('div.tooltip-html');
                content.each(function() {
                    var id = $(this).attr("data-tooltip-for");
                    $(this).detach();
                    $('[data-toggle="tooltip"][data-for-routine="' + id + '"]').attr("title", $(this).html());
                });
                $('[data-toggle="tooltip"]').tooltip();
            }
            function addShownListener() {
                $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function (e) {
                    var id = $(e.currentTarget).attr("data-for-routine");
                    routineHolder.ScrollToEnd(id);
                });
            }
            properties.Initialize = function () {
                addShownListener();
                addText();
            }
            return properties;
        }());

        var routineHolder = (function() {
            var properties = {};
            properties.ScrollToEnd = function (routineId) {
                var scroller = $('.routine-holder[data-routine-id="' + routineId + '"]');
                var numberOfElements = scroller.find('ul').children().length;
                var duration = ((numberOfElements - 3) / 3) * 2000;
                $('.routine-holder[data-routine-id="' + routineId + '"]').mThumbnailScroller("scrollTo", "right", { duration: duration, callbacks: true });
            }
            function whileScrollingCallback() {
                var currentPct = this.mts.leftPct;
                console.log(currentPct);
            }

            function attachOnScrollCallback() {
                $('.routine-holder').mThumbnailScroller({
                    callbacks: {
                        whileScrolling: function () {
                            whileScrollingCallback();
                        }
                    }
                });
            }
            properties.Initialize = function() {
                attachOnScrollCallback();
            }
            return properties;
        }());

        DeviceIndexProperties.Initialize = function () {
            routineHolder.Initialize();
            tooltip.Initialize();
        }
    }());
    $(document).ready(function() {
        DeviceIndexProperties.Initialize();
    });
</script>