@model RainIt.Domain.DTO.DeviceDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Device";
}
<div class="container" style="margin-top: 50px;">
    @using (Html.BeginForm("Add", "Device", FormMethod.Post))
    {
        <table>
            <tbody>
            <tr>
                <td>
                    Serial Number:
                </td>
                <td>
                    @Html.EditorFor(model => model.Serial)
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" id="addDevice" name="addDeviceButton">Confirm</button>
    }
    <button type="submit" id="cancelAdd" name="cancelAddDeviceButton">Cancel</button>
</div>
