@using Newtonsoft.Json
@model List<RainIt.Domain.DTO.DeviceDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All Devices";
}
<div class="container" style="margin-top: 50px;">
<table>
    <thead>
    <tr>
        <th>
            Identifier
        </th>
        <th>
            Active Routine
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var device in Model)
    {
        <tr>
            <td>
                @device.Identifier
            </td>
            <td>
                @device.RoutineId
            </td>
        </tr>
    }
    </tbody>
</table>
@using (Html.BeginForm("Add", "Device", FormMethod.Get))
{
    <button type="submit" id="addDevice" name="addDeviceButton">Add Device</button>
}
</div>