<style>
    #carouselBackground {
        background: url(../../Content/rocket.jpg);
        height: 1000px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
   
</style>
<div id="carouselBackground" class="container-responsive">
    
</div>