@{
    ViewBag.Title = "About";
}
<style>
    body {
        padding-top: 50px;
    }

    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
</style>

<div class="starter-template">
    <p class="lead">THIS SHOULD ONLY BE ACCESSED BY ADMINISTRATORS</p>
</div>