@{
    ViewBag.Title = "Home Page";
}
    @{ Html.RenderPartial("_Carousel"); }
    <div class="container marketing">
        @{ Html.RenderPartial("_Messages"); }
        @{ Html.RenderPartial("_Features"); }
    </div>