@using Newtonsoft.Json
@model List<RainIt.Domain.DTO.PatternDTO>
@{
    ViewBag.Title = "All Patterns";
}
<style>
    .delete-button {
        width: 30px;
        height: 30px;
        background: url('../../../../Content/icons/delete.png') no-repeat center center;
        background-size: contain;
        position: absolute;
        left: 92%;
        top: -15px;
        z-index: 2;
    }
    .img-element {
        cursor: pointer;
    }
</style>

<div class="container">
    <div id="pattern-gallery" class="row shapeshift-gallery">
        <div class="shapeshift-element">
            <div id="img-add" class="limit-view img-holder img-adder img-thumbnail pointer">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal")
@using (Html.BeginForm("Add", "Pattern", new {area = "Configuration"}, FormMethod.Get, new {id = "addPatternForm"}))
{
}
@using (Html.BeginForm("Edit", "Pattern", new { area = "Configuration"}, FormMethod.Get, new { id = "editPatternForm" }))
{
}
<script src="~/Scripts/custom-ajaxLoadingAnimation.js"></script>

<script src="~/Scripts/jquery.shapeshift.js"></script>
<script type="text/javascript">
    (function() {
        this.PatternIndexProperties = this.PatternIndexProperties || {};
        var passedImages = @Html.Raw(JsonConvert.SerializeObject(Model));

        PatternIndexProperties.Gallery = (function() {
            var properties = {};
            function createImage(image) {
                var imageToPlace = $('<img>').attr("id", "image_" + image.PatternId).attr("src", image.Path).attr("class", "img-element").attr("data-orig-src", image.Path);
                var column = $('<div>').attr("class", "shapeshift-element");
                var imageHolder = $('<div>').attr("class", "limit-view img-holder img-thumbnail").attr("id", "img-holder_" + image.PatternId);
                var deleteButton = $('<div>').attr("class", "delete-button pointer").attr("id", "delete_" + image.PatternId);
                deleteButton.appendTo(imageHolder);
                imageToPlace.appendTo(imageHolder);
                imageHolder.appendTo(column);
                return column;
            }
            function initializeUserImages() {
                $.each(passedImages, function(index, imageData) {
                    var imageAdder = $('#img-add').parent();
                    var image = createImage(imageData);
                    image.insertBefore(imageAdder);
                });
            }
            
            properties.Parameters = {
                enableDrag: false,
                cutoffEnd: passedImages.length - 1,
                enableCrossDrop: false,
                selector : '.shapeshift-element',
                gutterY: 30,
                gutterX: 30
            };
            properties.Initialize = function() {
                initializeUserImages();
                $('#pattern-gallery').shapeshift(properties.Parameters);
            }
            properties.Update = function(newParameters) {
                $('#pattern-gallery').shapeshift(newParameters);
            }
            properties.DeleteImageAdder = function() {
                $('#img-add').remove();
            }
            return properties;
        }());

        var addButton = (function() {
            var properties = {};
            function addClickListener() {
                $('#img-add').click(function() {
                    $('#addPatternForm').submit();
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());

        var image = (function() {
            var properties = {};
            var hasAjaxRunFor = [];
            function submitForm(imageId) {
                var action = $('#editPatternForm').attr("action");
                action = action+"/"+imageId;
                $('#editPatternForm').attr("action", action);
                $('#editPatternForm').submit();
            }
           function addClickListener() {
                $('.img-element').click(function(e) {
                    var id = $(e.currentTarget).attr("id").split("_")[1];
                    submitForm(id);
                });
           }
           function onAjaxSuccess(data) {
               $('#image_' + data.patternId).parent().removeAjaxLoadingAnimation();
               $('#image_' + data.patternId).attr("data-bw-src", "data:image/png;base64," + data.blackWhiteFile);
               if ($('#img-holder_' + data.patternId).is(":hover")) {
                   $('#image_' + data.patternId).attr("src",  $('#image_' + data.patternId).attr("data-bw-src"));
               }
           }
           function makeHoverAjaxCall(patternId) {
               hasAjaxRunFor.push(patternId);
               $('#image_' + patternId).parent().setAjaxLoadingAnimation();
                var url = '@Url.Action("GetBlackWhiteFor", "Pattern", new { area = "Configuration", patternId = -1})';
                url = url.replace("-1", patternId);
               $.ajax({
                   url: url,
                   type: "GET",
                   contentType: "application/x-www-form-urlencoded",
                   success: onAjaxSuccess
               });
            }
            
            function hoverFunction(id, mouseChangeFunction) {
                var originalSource = $('#image_' + id).attr("data-orig-src");
                var bwSource = $('#image_' + id).attr("data-bw-src");
                if (originalSource && bwSource) {
                    mouseChangeFunction(id);
                }
            }
            function addHoverListener() {
                $('.img-holder').hover(function(e) {
                    var id = $(e.currentTarget).attr("id").split("_")[1];
                    $('#image_' + id).parent().children('.k-loading-mask').show();
                    if ($('#image_' + id).attr("data-bw-src") == undefined && hasAjaxRunFor.indexOf(id) == -1) {
                        makeHoverAjaxCall(id);
                    }
                    hoverFunction(id, function(id) {
                        $('#image_' + id).attr("src",  $('#image_' + id).attr("data-bw-src"));
                    });
                },
                function(e) {
                    var id = $(e.currentTarget).attr("id").split("_")[1];
                    $('#image_' + id).parent().children('.k-loading-mask').hide();
                    hoverFunction(id, function(id) {
                        $('#image_' + id).attr("src", $('#image_' + id).attr("data-orig-src"));
                    });
                });
            }
            properties.Initialize = function() {
                addClickListener();
                addHoverListener();
            }
            return properties;
        }());

        var deleteButton = (function() {
            var properties = {};

            function onAjaxSuccess(data) {
                window.location.href = data;
            }
            function makeDeleteAjaxCall(patternToDelete) {
                $.post(
                    "@Url.Action("Delete", "Pattern", new { area = "Configuration" }, null)",
                    { patternId: patternToDelete },
                    onAjaxSuccess
                );
            }

            function addClickListener () {
                $('.delete-button').click(function(e) {
                    var patternToDelete = $(e.target).attr("id").split("_")[1];
                    var parameters = {
                        ButtonName: "Delete",
                        Message: "Are you sure you want to delete this item?<br />This action cannot be undone.",
                        ModalContent: $('#image_'+patternToDelete).addClass("img-responsive")
                    };
                    ModalDeleteProperties.Initialize(parameters, makeDeleteAjaxCall, patternToDelete);
                    ModalDeleteProperties.Show();
                });
            }
            properties.Initialize = function() {
                addClickListener();
            }
            return properties;
        }());

        PatternIndexProperties.SetupPage = function() {
            PatternIndexProperties.Gallery.Initialize();
            addButton.Initialize();
            deleteButton.Initialize();
            image.Initialize();
        };
    }());

    $(document).ready(function() {
        PatternIndexProperties.SetupPage();
    });
</script>