@using Newtonsoft.Json
@model List<RainIt.Domain.DTO.PatternDTO>
@{
    ViewBag.Title = "All Patterns";
}
<style>
    .delete-button {
        width: 30px;
        height: 30px;
        background: url('../../../../Content/icons/delete.png') no-repeat center center;
        background-size: contain;
        position: absolute;
        left: 83%;
        top: -15px;
        z-index: 2;
    }
</style>

<div class="container">
    <div id="pattern-gallery" class="row shapeshift-gallery">
        <div class="shapeshift-element col-md-2">
            <div id="img-add" class="limit-view img-holder img-adder ">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.shapeshift.js"></script>
<script type="text/javascript">
    (function() {
        this.PatternIndexProperties = this.PatternIndexProperties || {};
        var bootstrapMdColSize = 2;
        /* Please notice that because of the shapeshifting
        * the maximum value of columns in this .container is 10
        */
        var passedImages = @Html.Raw(JsonConvert.SerializeObject(Model));

        PatternIndexProperties.Gallery = (function() {
            var properties = {};
            function createImage(image) {
                var imageToPlace = $('<img>').attr("id", "image" + image.PatternId).attr("src", image.Path);
                var column = $('<div>').attr("class", "shapeshift-element col-md-"+bootstrapMdColSize);
                var imageHolder = $('<div>').attr("class", "limit-view img-holder").attr("id", "img-holder_" + image.PatternId);
                var deleteButton = $('<div>').attr("class", "delete-button").attr("id", "delete_" + image.PatternId);
                deleteButton.appendTo(imageHolder);
                imageToPlace.appendTo(imageHolder);
                imageHolder.appendTo(column);
                return column;
            }
            function initializeUserImages() {
                $.each(passedImages, function(index, imageData) {
                    var imageAdder = $('#img-add').parent();
                    var image = createImage(imageData);
                    image.insertBefore(imageAdder);
                });
            }

            function addBootstrapClearFixes() {
                var bootstrapSizes = ['xs', 'sm', 'md', 'lg'];
                $.each(bootstrapSizes, function(index, currentSize) {
                    var columnClassRegex = new RegExp("col-" + currentSize + "-([1-9]|1[0-2])");
                    var cumulativeColumnWidth = 0;
                    $('.shapeshift-gallery .img-holder').each(function() {
                        var currentColumnClass = columnClassRegex.exec($(this).attr('class'));
                        if (currentColumnClass != null) {
                            var currentColumnWidth = currentColumnClass[0].split('-')[2];
                            cumulativeColumnWidth += Number(currentColumnWidth);
                            if (cumulativeColumnWidth >= 10) {
                                var clearFixBlock = $('<div>').attr('class', 'clearfix visible-' + currentSize + '-block');
                                if (cumulativeColumnWidth > 10) {
                                    clearFixBlock.insertBefore($(this));
                                    cumulativeColumnWidth = Number(currentColumnWidth);
                                }
                                if (cumulativeColumnWidth == 10) {
                                    clearFixBlock.insertAfter($(this));
                                    cumulativeColumnWidth = 0;
                                }
                            }
                        }
                    });
                });
                
            }

            properties.Parameters = {
                enableDrag: true,
                cutoffEnd: passedImages.length - 1,
                enableCrossDrop: false,
                selector : '.shapeshift-element'
            };
            properties.Initialize = function() {
                initializeUserImages();
                addBootstrapClearFixes();
                $('#pattern-gallery').shapeshift(properties.Parameters);
            }
            properties.Update = function(newParameters) {
                $('#pattern-gallery').shapeshift(newParameters);
            }
            properties.DeleteImageAdder = function() {
                $('#img-add').remove();
            }
            return properties;
        }());

        var addImage = (function() {
            var properties = {};
            function onAjaxSuccess(data) {
                $('#mainBody').html(data);
            }
            function onAjaxError() {
                alert("something happened");
            }
            function makeAddAjaxCall() {
                $.ajax({
                    url: '@Url.Action("Add", "Pattern", new {area = "Configuration"}, null)',
                    success: onAjaxSuccess,
                    error: onAjaxError,
                    dataType: 'html'
                });
            }
            properties.AddClickListener = function() {
                $('#img-add').click(function() {
                    makeAddAjaxCall();
                });
            }
            return properties;
        }());

        var deleteButton = (function() {
            var properties = {};

            function onAjaxSuccess(data) {
                window.location.href = data;
            }
            function makeDeleteAjaxCall(patternToDelete) {
                $.post(
                    "@Url.Action("Delete", "Pattern", new { area = "Configuration" }, null)",
                    { patternId: patternToDelete },
                    onAjaxSuccess
                );
            }

            properties.AddClickListener = function() {
                $('.delete-button').click(function(e) {
                    var patternToDelete = $(e.target).attr("id").split("_")[1];
                    makeDeleteAjaxCall(patternToDelete);
                });
            }
            return properties;
        }());
        
        PatternIndexProperties.SetupPage = function() {
            PatternIndexProperties.Gallery.Initialize();
            addImage.AddClickListener();
            deleteButton.AddClickListener();
        };
    }());

    $(document).ready(function() {
        PatternIndexProperties.SetupPage();
    });
</script>