@using Newtonsoft.Json
@model List<RainIt.Domain.DTO.PatternDTO>
@{
    ViewBag.Title = "All Patterns";
}
<style>
    .delete-button {
        width: 30px;
        height: 30px;
        background: url('../../../../Content/icons/delete.png') no-repeat center center;
        background-size: contain;
        position: absolute;
        left: 92%;
        top: -15px;
        z-index: 2;
    }
    .img-title {
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: skyblue;
        padding: 5px;
        max-width: 190px;
        width: 190px;
        max-height: 30px;
        height: 30px;
        overflow: hidden;
        word-break: break-all;
    }
</style>

<div class="container">
    <div id="pattern-gallery" class="row shapeshift-gallery">
        <div class="shapeshift-element">
            <div class="limit-view img-holder img-adder img-thumbnail pointer">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal")
@using (Html.BeginForm("Add", "Pattern", new {area = "Configuration"}, FormMethod.Get, new {id = "addPatternForm"}))
{
}
@using (Html.BeginForm("Edit", "Pattern", new { area = "Configuration"}, FormMethod.Get, new { id = "editPatternForm" }))
{
}
@section scripts{
    <script type="text/javascript">
        (function() {
            this.PatternIndexProperties = this.PatternIndexProperties || {};
            var passedImages = @Html.Raw(JsonConvert.SerializeObject(Model));

            PatternIndexProperties.Gallery = (function() {
                var properties = {};

                function createImage(image) {
                    var imageToPlace = $('<img>').attr("src", image.Path).attr("class", "img-element pointer").attr("data-orig-src", image.Path).attr("data-pattern-id", image.PatternId);
                    var column = $('<div>').attr("class", "shapeshift-element");
                    var imageHolder = $('<div>').attr("class", "limit-view img-holder img-thumbnail pointer");
                    var deleteButton = $('<div>').attr("class", "delete-button pointer");
                    deleteButton.appendTo(imageHolder);
                    imageToPlace.appendTo(imageHolder);
                    var caption = $('<div>').addClass("caption img-title").html("<p>" + image.Name + "</p>").css("display", "none");
                    imageHolder.appendTo(column);
                    caption.appendTo(column);
                    return column;
                }

                function initializeUserImages() {
                    $.each(passedImages, function(index, imageData) {
                        var imageAdder = $('#pattern-gallery .img-adder').parent();
                        var image = createImage(imageData);
                        image.insertBefore(imageAdder);
                    });
                }

                properties.Parameters = {
                    enableDrag: false,
                    cutoffEnd: passedImages.length - 1,
                    enableCrossDrop: false,
                    selector: '.shapeshift-element',
                    gutterY: 30,
                    gutterX: 30
                };
                properties.Initialize = function() {
                    initializeUserImages();
                    $('#pattern-gallery').shapeshift(properties.Parameters);
                }
                properties.Update = function(newParameters) {
                    $('#pattern-gallery').shapeshift(newParameters);
                }
                properties.DeleteImageAdder = function() {
                    $('#pattern-gallery .img-adder').remove();
                }
                properties.DeleteImageDeleter = function() {
                    $('#pattern-gallery .delete-button').remove();
                }
                properties.RemovePatternClickListener = function() {
                    $('#pattern-gallery .img-element').off('click');
                }
                properties.ChangeHoverCursor = function() {
                    $('#pattern-gallery .img-holder').removeClass("pointer").addClass("move");
                    $('#pattern-gallery .img-element').removeClass("pointer").addClass("move");
                }
                properties.ReattachHoverListeners = function() {
                    image.Initialize();
                }
                return properties;
            }());

            var addButton = (function() {
                var properties = {};

                function addClickListener() {
                    $('#pattern-gallery .img-adder').click(function() {
                        $('#addPatternForm').submit();
                    });
                }

                properties.Initialize = function() {
                    addClickListener();
                }
                return properties;
            }());

            var image = (function() {
                var properties = {};
                var hasAjaxRunFor = [];

                function submitForm(imageId) {
                    var action = $('#editPatternForm').attr("action");
                    action = action + "/" + imageId;
                    $('#editPatternForm').attr("action", action);
                    $('#editPatternForm').submit();
                }

                function addClickListener() {
                    $('#pattern-gallery .img-element').click(function(e) {
                        var id = $(e.currentTarget).attr("data-pattern-id");
                        submitForm(id);
                    });
                }

                function makeHoverAjaxCall(currentImageHolder) {
                    var id = currentImageHolder.find('.img-element').attr("data-pattern-id");
                    if (hasAjaxRunFor.indexOf(id) == -1) {
                        hasAjaxRunFor.push(id);
                        currentImageHolder.setAjaxLoadingAnimation();
                        var url = '@Url.Action("GetBlackWhiteFor", "Pattern", new {area = "Configuration", patternId = -1})';
                        url = url.replace("-1", id);
                        $.ajax({
                            url: url,
                            type: "GET",
                            contentType: "application/x-www-form-urlencoded",
                            success: function(data) {
                                var allImageHolders = $('.img-holder').find('.img-element[data-pattern-id="' + currentImageHolder.find('.img-element').attr('data-pattern-id') + '"]').closest('.img-holder');
                                allImageHolders.removeAjaxLoadingAnimation();
                                allImageHolders.children('.img-element').attr("data-bw-src", "data:image/png;base64," + data.blackWhiteFile);
                                if (currentImageHolder.is(":hover")) {
                                    currentImageHolder.children('.img-element').attr("src", currentImageHolder.children('.img-element').attr("data-bw-src"));
                                }
                            }
                        });
                    }
                }

                function hoverFunction(currentImageElement, mouseChangeFunction) {
                    var originalSource = currentImageElement.attr("data-orig-src");
                    var bwSource = currentImageElement.attr("data-bw-src");
                    if (originalSource && bwSource) {
                        mouseChangeFunction(currentImageElement);
                    }
                }

                function addHoverListener() {
                    $('#pattern-gallery .img-holder:not(.img-adder)').hover(function(e) {
                            var currentImageHolder = $(e.currentTarget);
                            currentImageHolder.children('.k-loading-mask').show();
                            if (currentImageHolder.children('.img-element').attr("data-bw-src") == undefined) {
                                makeHoverAjaxCall(currentImageHolder);
                            }
                            currentImageHolder.siblings('.img-title').show();
                        },
                        function(e) {
                            var currentImageHolder = $(e.currentTarget);
                            currentImageHolder.children('.k-loading-mask').hide();
                            currentImageHolder.siblings('.img-title').hide();
                        });

                    $('#pattern-gallery .img-element').hover(function(e) {
                        var currentImageElement = $(e.currentTarget);
                        hoverFunction(currentImageElement, function(currentImageElement) {
                            currentImageElement.attr("src", currentImageElement.attr("data-bw-src"));
                        });
                    }, function(e) {
                        var currentImageElement = $(e.currentTarget);
                        hoverFunction(currentImageElement, function(currentImageElement) {
                            currentImageElement.attr("src", currentImageElement.attr("data-orig-src"));
                        });
                    });
                }

                properties.Initialize = function() {
                    addClickListener();
                    addHoverListener();
                }
                return properties;
            }());

            var deleteButton = (function() {
                var properties = {};

                function onAjaxSuccess(data) {
                    window.location.href = data;
                }

                function makeDeleteAjaxCall(patternToDelete) {
                    $.post(
                        "@Url.Action("Delete", "Pattern", new {area = "Configuration"}, null)",
                        { patternId: patternToDelete },
                        onAjaxSuccess
                    );
                }

                function addClickListener() {
                    $('#pattern-gallery .delete-button').click(function(e) {
                        var currentDeleteButton = $(e.currentTarget);
                        var id = currentDeleteButton.siblings('.img-element').attr('data-pattern-id');
                        var parameters = {
                            ButtonName: "Delete",
                            Message: "Are you sure you want to delete this item?<br />This action cannot be undone.",
                            ModalContent: currentDeleteButton.siblings('.img-element').clone(true).off('click').addClass("img-responsive img-thumbnail").removeClass("pointer")
                        };
                        ModalDeleteProperties.Initialize(parameters, makeDeleteAjaxCall, id);
                        ModalDeleteProperties.Show();
                    });
                }

                properties.Initialize = function() {
                    addClickListener();
                }
                return properties;
            }());

            PatternIndexProperties.SetupPage = function() {
                PatternIndexProperties.Gallery.Initialize();
                addButton.Initialize();
                deleteButton.Initialize();
                image.Initialize();
            };
        }());

        $(document).ready(function() {
            PatternIndexProperties.SetupPage();
        });
    </script>
}