<div id="myAlert" class="alert" role="alert" style="display: none;">
    
</div>
<script type="text/javascript">
    (function() {
        this.AlertProperties = this.AlertProperties || {};
        AlertProperties.Show = function () {
            $('#myAlert').show();
        }
        AlertProperties.Hide = function () {
            $('#myAlert').hide();
        }
        function resetToDefault() {
            $('#myAlert').removeClass();
            $('#myAlert').addClass("alert alert-disimissible");
            $('#myAlert').html('<button id="closeAlert" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
        }
        function setClass(newClass) {
            $('#myAlert').addClass(newClass);
        }
        function setContent(content) {
            var contentLength = content.length;
            var list = $("<ul>");
            for (var i = 0; i < contentLength; i++) {
                var element = $("<li>").html(content[i]);
                element.appendTo(list);
            }
            list.appendTo($('#myAlert'));
        }

        function addContent(content) {
            var contentLength = content.length;
            var list = $(".alert ul").length ? $(".alert ul") : $("<ul>");
            for (var i = 0; i < contentLength; i++) {
                var element = $("<li>").html(content[i]);
                element.appendTo(list);
            }
            if (!$(".alert ul").length) {
                list.appendTo($('#myAlert'));
            }
        }
        function initialize(parameters) {
            AlertProperties.Hide();
            resetToDefault();
            setClass(parameters.Class);
            setContent(parameters.Content);
            AlertProperties.Show();
        }
        function addCloseButtonListener() {
            $('#closeAlert').click(function() {
                AlertProperties.Hide();
            });
        }
        AlertProperties.Initialize = function (parameters) {
            initialize(parameters);
            addCloseButtonListener();
        }
    }());    
</script>