[DeviceSettings]
MinutesRefreshRate: 5
MillisecondLatchDelay: 2
MillisecondClockDelay: 1

[Services]
BaseUrl: http://localhost:100/api/
SecondsTimeout: 10

[Pickle]
BaseDirectory: /home/pi/

[Hardware]
#GPIO Mode indicates the board mode, BCM is 11 and BOARD is 10
GPIOMode: 10
GPIOInput: 1
GPIOOutput: 0
ClockChannel: 19
LatchChannel: 21
SerialChannel: 23
#Transitions are the transitions which trigger save, 0 means negative transition, 1 means positive transition
ClockTransition: 1
LatchTransition: 1
DefaultSerial: 0123456789abcdef