.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;  
}
.form-signin input.intermediate-form-field {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input.last-form-field {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button{
    margin-top: 10px;
}

.form-signin button.alternate-button{
    margin-top: 0px;
    background-color: red;
    border-color: hsl(0, 100%, 56%);
}
.form-signin .form-signin-text{
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 100%;
    display:block;     
    text-align:center;
}