body {
    padding-bottom: 20px;
    padding-top: 50px
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Set the navbar items to appear on the right*/
ul.nav.navbar-nav {
    float: right;
    background-color: transparent;
    border-color: transparent;
}

/* Set the color of the inverse navbar to transparent*/
.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}

/* Sets the navbar links to have background of transparent */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: transparent;
}

/* Sets the style for the validation errors of the fields*/
.field-validation-error{ color: red; font-weight: bold; }

/* This is the status for the validation messages passed from view to view*/
.error-status-message{
    color: red;
     font-weight: bold; 
}

.valid-status-message{
    color: green;
     font-weight: bold; 
}

/* Sets the visibility of strange datepicker to none*/
#ui-datepicker-div {display: none;}

/* Alters bootstrap img-responsive to set max height of 100%*/
.img-responsive {
    max-height: 100%;
}

/*Includes the themes for the shapeshifting plugin*/ 
.shapeshift-gallery {
        position: relative;
        width: 100%;
}
.shapeshift-gallery .img-holder {
    position: absolute;
    height: 100px;
}

/* This is intended to work as additional space on top of the bootstrap .row*/
.spacer {
    margin-top: 20px; /* define margin as you see fit */
}

/*Adding color to glyphicons*/
.glyphicon.red {
    color: red;
}
.glyphicon.green {
    color: green;
}
.glyphicon.blue {
    color: blue;
}