<div class="main-content">
    <div>
        <h1>Users</h1>
        <ul id="users"></ul>
    </div>
    <div>
        <h1>Search</h1>
        <label for="username">Username:</label>
        <input type="text" id="username"/>
        <input type="button" value="Search" onclick=" find(); "/>
    </div>
    <div>
        <h1>Results</h1>
        <ul id="results"></ul>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('/api/User')
                .success(
                    function(data) {
                        $.each(data, function(key, val) {
                            var value = val.Username;
                            $('<li>', { text: value }).appendTo($('#users'));
                        });
                    });
        });

        function find() {
            $('#results').empty();
            var searchString = $('#username').val();
            $.getJSON('/api/User?username=' + searchString)
                .success(
                    function (data) {
                        $.each(data, function (key, val) {
                            var value = val.Username;
                            $('<li>', { text: value }).appendTo($('#results'));
                        });
                    })
                .fail(function (jqXHR, textStatus, err) {
                    $('#results').text(err);
                });
        }
    </script>
}